h3 {
  font-size: var(--font-size-m);
}

#skillsContainer {
  margin: auto;
  background-color: var(--color-light-1);
  padding-bottom: 1em;
}

#experienceContainer {
  max-width: 100%;
}

#linkButtonToResume {
  max-width: 50%;
  margin: 2em auto;
  font-size: var(--font-size-xs);
}

.treeHouseApiTotal {
  width: 80%;
  margin: 0 auto 1em auto;
  padding: 1em;
  border: 2px solid white;
}
.number {
  font-size: var(--font-size-l);
  font-weight: 800;
}
#treeHouseApiSkillPoints {
  display: flex;
  flex-flow: row wrap;
  width: 80%;
  margin: 0 auto 1em auto;
}
.hidden {
  display: none !important;
}

@media only screen and (min-width: 768px) {
  #knowledge {
    max-width: 90vw !important;
  }

  h3 {
    margin-top: 1em;
  }

  .skillsExperienceContainer {
    display: flex;
    justify-content: space-between;
  }

  #skillsContainer {
    width: 30%;
    margin-top: 1em;
  }
  #experienceContainer {
    width: 65%;
  }
  #linkButtonToResume {
    max-width: 15vw;
    font-size: var(--font-size-s);
  }

  .treeHouseApiTotal {
    margin: 0 auto 0.5em auto;
    padding: 0.5em 1em;
  }
}
