/* ================================================ */
/*                       ABOUT                      */
/* ================================================ */

.quote {
  color: var(--color-dark-1);
  font-size: var(--font-size-m);
  font-family: var(--font-stack-normal);
  text-align: center;

  margin: 0 auto 2em auto;
}

.quote div {
  max-width: 60vw;
  min-height: 15vh;
  margin: auto;
  padding: 0.5em;
  border: 3px solid var(--color-dark-1);
}

#aboutText {
  margin-bottom: 2em;
}
#aboutText p {
  margin-bottom: 0.5em;
}
#aboutText p a {
  color: var(--color-dark-1);
}

#linkButtonToContact {
  display: flex;
  justify-content: flex-end;
 
}

@media only screen and (min-width: 768px) {
  .headerQuoteContainer {
    display: flex;
    flex-flow: row-reverse wrap-reverse;
    justify-content: flex-end;
  }

  #about h1 {
    width: 33%;
    margin: 0;
  }
  .quote {
    margin: 5vh 0;
    width: 33%;
  }

  .quote div {
    max-width: 20vw;
    min-height: 20vh;
    margin: 0;
  }

  #aboutText,
  #linkButtonToContact {
    width: 60vw;
    margin: auto;
  }
  #linkButtonToContact {
    margin-top: 2em;
  }
}
