.text-f-dancingScript {
  font-family: "Dancing Script", cursive;
}
.text-f-amaticSC {
  font-family: "Amatic SC", cursive;
}
.text-f-satisfy {
  font-family: "Satisfy", cursive;
}
.text-f-shadowsIntoTheLightTwo {
  font-family: "Shadows Into Light Two", cursive;
}
.text-f-rochester {
  font-family: "Rochester", cursive;
}
.text-f-waitingForTheSunrise {
  font-family: "Waiting for the Sunrise", cursive;
}
.text-f-krub {
  font-family: "Krub", sans-serif;
}
.text-f-openSansCondensed {
  font-family: "Open Sans Condensed", sans-serif;
}
.text-f-koHo {
  font-family: "KoHo", sans-serif;
}
.text-f-rajdhani {
  font-family: "Rajdhani", sans-serif;
}
.text-f-econimica {
  font-family: "Economica", sans-serif;
}
.text-f-wireOne {
  font-family: "Wire One", sans-serif;
}
.text-f-bubblerOne {
  font-family: "Bubbler One", sans-serif;
}
.text-f-textMeOne {
  font-family: "Text Me One", sans-serif;
}
.text-f-shadowsIntoLight {
  font-family: "Shadows Into Light", cursive;
}
.text-f-reenieBeanie {
  font-family: "Reenie Beanie", cursive;
}
.text-f-calligraffitti {
  font-family: "Calligraffitti", cursive;
}
.text-f-lovedByTheKing {
  font-family: "Loved by the King", cursive;
}
.text-f-theGirlNextDoor {
  font-family: "The Girl Next Door", cursive;
}
.text-f-laBelleAurore {
  font-family: "La Belle Aurore", cursive;
}
.text-f-overTheRainbow {
  font-family: "Over the Rainbow", cursive;
}
.text-f-oregano {
  font-family: "Oregano", cursive;
}
.text-f-pompiere {
  font-family: "Pompiere", cursive;
}
