/* ================================================ */
/*                    VARIABLES                     */
/* ================================================ */

:root {
  /* ================= COLORS ====================== */
  --color-light-1: #f5f5ef; /* rgba: 245,245,239,1 */
  --color-dark-1: #32522a; /* rgba: 50, 82, 42, 1 */
  --color-dark-2: #b15f76; /* rgba: 177,95,118,1 */
  --color-accent: #c78a95; /* rgba: 199,138,149,1 */
  --color-light-2: #e8d0d4; /* rgba: 232,208,212,1 */
  --color--bg: white;
  --color-experience: var(--color-dark-1);

  /* =============== FONT STACKS ================== */
  --font-stack-fancy: "Dancing Script", cursive;
  --font-stack-normal: "Krub", sans-serif; /* font-family: "KoHo", sans-serif; */ /* font-family: "Rajdhani", sans-serif; */

  /* =============== FONT SIZES =================== */
  --font-size-xs: 0.8em;
  --font-size-s: 1em;
  --font-size-m: 1.4em;
  --font-size-l: 2em;
  --font-size-xl: 3em;
  --font-size-xxl: 4em;
  --font-size-xxxl: 6em;

  /* ============ BACKGROUND IMAGES =============== */
  --background-img: var(--background-blooming_blossom);
  --background-agave: url("./Media/phone/agave.jpg");
  --background-blooming_blossom: url("./Media/phone/blooming_blossom.jpg");
  --background-blue_sea: url("./Media/phone/blue_sea.jpg");
  --background-cherry_blossom: url("./Media/phone/cherry_blossom.jpg");
  --background-dandelion: url("./Media/phone/dandelion.jpg");
  --background-movie_moment: url("./Media/phone/movie_moment.jpg");
  --background-orchid: url("./Media/phone/orchid.jpg");
  --background-white_cherry: url("./Media/phone/white_cherry.jpg");

  /* ============ BACKGROUND LOGOS =============== */
  --logo: url("./Media/logo_name.png");
  --webpage-img: url("./Media/webpage.png");
}

/* ================================================ */
/*            VARIABLES MEDIA QUERIES               */
/* ================================================ */

/* DESKTOP */
@media only screen and (min-width: 768px) {
  :root {
    --font-size-xs: 0.6em;
    --font-size-s: 0.8em;
    --font-size-m: 1.1em;
    --font-size-l: 1.5em;
    --font-size-xl: 2em;
    --font-size-xxl: 2.5em;
    --font-size-xxxl: 4em;

    --background-agave: url("./Media/desktop/agave.jpg");
    --background-blooming_blossom: url("./Media/desktop/blooming_blossom.jpg");
    --background-blue_sea: url("./Media/desktop/blue_sea.jpg");
    --background-cherry_blossom: url("./Media/desktop/cherry_blossom.jpg");
    --background-dandelion: url("./Media/desktop/dandelion.jpg");
    --background-movie_moment: url("./Media/desktop/movie_moment.jpg");
    --background-orchid: url("./Media/desktop/orchid.jpg");
    --background-white_cherry: url("./Media/desktop/white_cherry.jpg");
  }
}

/* ================================================ */
/*                     GENERAL                      */
/* ================================================ */

* {
  box-sizing: border-box;
  margin: 0;
}

body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* =================== TEXT ======================= */
h1 {
  color: var(--color-accent);
  font-size: var(--font-size-xxl);
  font-family: var(--font-stack-fancy);
  text-align: center;
  margin: 0.3em auto;
}

h3 {
  color: var(--color-dark-2);
  font-size: var(--font-size-l);
  font-family: var(--font-stack-normal);
  text-align: center;
  margin-bottom: 0.3em;
}

p {
  color: var(--color-dark-2);
  font-size: var(--font-size-s);
  font-family: var(--font-stack-normal);
}

@media only screen and (min-width: 768px) {
  h1 {
    font-size: var(--font-size-xxxl);
  }
}

/* ================ CONTAINERS ===================== */
.mainContainer {
  max-width: 80vw;
  margin: 0 auto;
  padding-top: 5vh;
}

@media only screen and (min-width: 768px) {
  .mainContainer {
    padding-top: 5vh;
  }
}

/* ================ TOOLTIPS ===================== */
/* Tooltip container */
.tooltip {
  position: relative;
  display: inline-block;
}

/* Tooltip text */
.tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  bottom: 100%;
  left: 50%;
  margin-left: -20px; /* Use half of the width (120/2 = 60), to center the tooltip */
  background-color: var(--color-dark-1);
  color: #fff;
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;
  font-size: var(--font-size-xs);

  /* Position the tooltip text - see examples below! */
  position: absolute;
  z-index: 1;
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltiptext {
  visibility: visible;
}

/* ================ PORTFOLIO ================= */

@media only screen and (min-width: 768px) {
  #portfolioCardContainer {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
  }
}

/* =================== THEME ==================== */

@media only screen and (min-width: 768px) {
  #themeCardContainer {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    margin-bottom: 2em;
  }
}
